@using September26.Helpers
@model September26.Dto.User

@*@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@


@* @foreach (var x in Model) *@
@* { *@
    @* <p>@Model.FullName</p> *@
    @* <p>@Model.Email</p> *@

@Html.EditorFor(dto => dto.Organisation)
@* @Html.EditorForModel() *@
@* @Html.MySuperEditorFor() *@
@* @Html.MySuperEditorFor(dto => dto.Number) *@